@model CourseApp.Models.Domain.Orders
@{
    ViewData["Title"] = "Cart";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var username = User.Identity.Name;
}


<div class="content-wrapper">
    <h2 class="content-header">Cart Item no. :- @Model.CourseId </h2>

    <div class="content">
        <h1>Personal Details</h1>
        <form method="post">
            <div class="form-group">
                <label for="courseId">CourseId</label>
                <input type="text" class="form-control" id="courseId" asp-for="@Model.CourseId" required readonly>
            </div>
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" class="form-control" id="name" placeholder="Enter Name" asp-for="@Model.CourseBuyerName" required>
            </div>
            <div class="form-group">
                <label for="email">Email address</label>
                <input type="email" class="form-control" id="email" placeholder="Enter email" asp-for="@Model.CourseBuyerEmail" required>
            </div>
            <button type="submit" asp-action="OrderSubmit" class="btn btn-success">Order Now</button>
        </form>
    </div>
</div>


