@{
    var id = ViewBag.Id;
}
@{
    ViewData["Title"] = "OrderSuccess";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="content-wrapper">
    <h2 class="content-header">Order Id :- @id </h2>
    <h2 class="content text-green">Your Order has been Placed Successfully !</h2>
</div>


