@model CourseApp.Models.Domain.VMCourses
@{
    ViewData["Title"] = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="content-wrapper">
    <h1 class="content-header">Update Course</h1>
    <div class="content">


        <form method="post" action="UpdateCourse">
            <div class="form-group">
                <label for="id">Id</label>
                <input type="text" class="form-control" id="id" placeholder="Enter Course Name" asp-for="Id" readonly>
            </div>
            <div class="form-group">
                <label for="coursename">Course Name</label>
                <input type="text" class="form-control" id="coursename" placeholder="Enter Course Name" asp-for="CourseName" required>
            </div>
            <div class="form-group">
                <label for="description">Description</label>
                <textarea type="text" class="form-control" id="description" placeholder="Description" asp-for="Description" required></textarea>
            </div>
            <div class="form-group">
                <label for="department">Department</label>
                <select class="form-control" id="department" asp-for="Department">
                    <option value="IT">Information Technology</option>
                    <option value="HR">Human Resourse</option>
                </select>
            </div>
            <div class="form-group">
                <label for="price">Pricing</label>
                <input type="text" class="form-control" id="price" placeholder="Price" asp-for="CoursePrice" required />
            </div>
            <div class="form-group">
                <label for="createdDate">CreatedDate</label>
                <input type="text" class="form-control" id="createdDate" placeholder="Created Date" asp-for="CreatedDate" readonly />
            </div>

            <button type="submit" asp-action="UpdateCourse" class="btn btn-primary">Submit</button>

            <button type="submit" asp-action="DeleteCourse" class="btn btn-danger">Delete Course</button>
        </form>
    </div>
</div>